*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main{
    background-color: #D9D9D9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
} */

.barraBuscar{
    width: 100%;
}

#botonBusqueda{
    height: 80%;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    
}

h1{
    color: #4AAD85;
    display: flex;
    align-items: center;
}