body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.navbar{
    width: 100%;
    background-color: rgb(96, 57, 187);
    display: flex;
    margin: auto;
    padding: 5px;
}

.linksNavbar{
    text-decoration: none;
    color:white;
    padding: 10px;
}

.buscarNavbar{

    margin: auto;
    height: 25px;
    width: 500px;
    border-radius: 25px;
    border: solid 1px;
    border-color: grey;
    
}

.iniciarSesion{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin: auto;
    border: solid 1px;
}

.iniciarSesion:hover{
    background-color: rgb(112, 94, 154);
    cursor: pointer;
}

.containerProductos{
    background-color: rgb(96, 57, 187);
}
.productosCargados{
    background-color: aqua;
    width: 300px;
    height: 300px;
    border: solid 1px;
    justify-content: space-around;
}

.containerButton{
    text-align: center;
    padding: 25px;
}

.footer-pag{
    background-color: #242739;
    width: 100%;
}

.footer-pag .container-col{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer-pag .container-col .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-pag .container-col figure img{
    width: 1px;

}

.footer-pag .container-col .box h2{
    color: aliceblue;
    margin-bottom: 25px ;
    font-size: 20px;
    
}

.footer-pag .container-col .box p{
    color: aliceblue;
    margin-bottom: 25px ;
    font-size: 20px;
}

.footer-pag .container-col .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: aliceblue;
    text-align: center;
}

.footer-pag .container-col .red-social a:hover{
    color: aqua;
}

.footer-pag .container-col .box .contact{
    text-decoration: none;
    color: aliceblue;
}

.footer-pag .container-col .box .contact:hover{
    color: aqua;
}

.footer-pag .container-col2{
    background-color: #292c3f;
    padding: 15px 10px;
    text-align: center;
    color: aliceblue;
}

.footer-pag .container-col2 small{
    font-size: 15px;
}
